.contenedorcotizacion {
  background-color: white;
  opacity: 0.85;
  border-radius: 10px;
  padding: 10px;
  height: 98%;
  width: 70vw;
  margin: 40px 0px 40px 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.infodeudascotizacion {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.infodetailpropuesta {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.infodetailingresos {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.selectorjuzgado {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.opcionjuzgado:hover {
  color: blue;
  cursor: pointer;
}

.infotextarea {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.infotodoscotizacion {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.infocotizaciondatos {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.resultadostodos {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.resultadoingresos {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.resultadogastos {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.encabezadoingresos {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.cajadeudas {
  width: 110px;
  padding: 2px;
  margin: 5px;
  border: 1px solid black; /* Color del borde */
  border-radius: 5px;
  background-color: transparent; /* Fondo transparente */
  color: black; /* Color del texto */
  font-family: "Outfit", sans-serif; /* Estilo de fuente */
  outline: none; /* Elimina el contorno al seleccionar el campo */
  height: 20px;
}

.titulocotizacion {
  width: 130px;
  font-size: medium;
  font-weight: bold;
  margin: 5px;
  background-color: transparent; /* Fondo transparente */
  color: black; /* Color del texto */
  font-family: "Outfit", sans-serif; /* Estilo de fuente */
  outline: none; /* Elimina el contorno al seleccionar el campo */
  height: 30px;
}

.titulomodal {
  width: 200px;
  font-size: medium;
  font-weight: bold;
  margin: 5px;
  background-color: transparent; /* Fondo transparente */
  color: black; /* Color del texto */
  font-family: "Outfit", sans-serif; /* Estilo de fuente */
  outline: none; /* Elimina el contorno al seleccionar el campo */
  height: 30px;
}

.cajacotizacion {
  width: 110px;
  padding: 2px;
  margin: 3px;
  border: 1px solid black; /* Color del borde */
  border-radius: 5px;
  background-color: transparent; /* Fondo transparente */
  color: black; /* Color del texto */
  font-family: "Outfit", sans-serif; /* Estilo de fuente */
  outline: none; /* Elimina el contorno al seleccionar el campo */
  height: 20px;
}

.labeldetaildeudas {
  height: 25px;
  width: 240px;
  font-size: 100;
  padding-left: 15px;
  font-family: Arial, Helvetica, sans-serif;
  color: black;
  text-align: start;
  align-self: center;
}

.labelingresos {
  height: 25px;
  width: 240px;
  font-size: 100;
  padding-left: 15px;
  font-family: Arial, Helvetica, sans-serif;
  color: black;
  text-align: start;
  align-self: center;
}

.informationTable {
  border-collapse: collapse;
  margin: 20px;
}

.tableCell {
  border: 1px solid black;
  margin: 0;
  padding: 5px 10px;
  width: "max-content";
  min-width: "150px";
  text-align: center;
}

.textareainsolvencia {
  border-radius: 5px;
  font-family: Arial, Helvetica, sans-serif;
  color: black;
  /* margin: 10px; */
  font-size: medium;
}

.formpropuesta {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.datoscotizacion {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.encabezadodeudasclase {
  display: flex;
  flex-direction: row;
  align-items: space-between;
}

.encabezadopropuesta {
  display: flex;
  flex-direction: row;
  align-items: space-between;
}
.formdeudascotizacion {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 95%;
  margin: 5px;
  justify-content: space-around;
}

.formingresos {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 95%;
  margin: 5px;
}

.formbienes {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.formgastos {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.resumen {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}
.resumenresultados {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.acreedorSelect {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 250px;
}

.infoseccion {
  margin: 5px;
  border: 1px solid black; /* Color del borde */
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 10px;
  width: 100%;
}

.infoseccioncotizacion {
  margin: 5px;
  border: 1px solid black; /* Color del borde */
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 10px;
  width: 300px;
}

.infoseccionmodal {
  margin: 5px;
  border: 1px solid black; /* Color del borde */
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 10px;
  width: 460px;
}

.infoseccioncotizacion2 {
  margin: 5px;
  border: 1px solid black; /* Color del borde */
  border-radius: 5px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 10px;
  width: 300px;
}

.modal-overlay {
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.modal-backdrop {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.3);
  z-index: 999;
}
.modal-content {
  background: #fff;
  border-radius: 8px;
  padding: 2rem;
  z-index: 1001;
  min-width: 500px;
  max-width: 90vw;
  max-height: 90vh;
  overflow-y: auto;
  position: relative;
}
.modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}
.close-modal {
  background: none;
  border: none;
  font-size: 2rem;
  cursor: pointer;
  color: #333;
}
