.containerLogin{
  background-color: white;
  opacity: 0.9;
  border-radius: 10px;
  width: 40vw;
  justify-content: center;
  margin: auto;
  padding: 20px;
}

.containerLogin-photo{
  display: flex;
  flex-direction: row;
  background-color: white;
  min-height: 1rem;
  height: 99vh;
  width: 100vw;
}

.containerPhoto .imglogin{
  width: 97%;
  height: 100%;
}

.containerPhoto{
  width: 60vw;
  height: 90vh;
  margin: auto;
  padding: 20px;
}

.cajalogin{
  height: 25px;
  min-width: 20vw;
  border-radius: 5px;
  margin: 10px;
}

.labellogin {
  height: 25px;
  min-width: 10vw;
  font-size: larger;
  color: black;
  text-align: justify;
  padding-left: 40px;
}

.formFlex {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.logoContainer {
  width: 100%;
  text-align: center;
}

.logoLogin {
  height: 90px;
  width: 90%;
}

.inputGroup {
  display: flex;
  flex-direction: column;
  width: 80%;
}

.buttonRow {
  display: flex;
  justify-content: center;
  gap: 1rem;
  flex-wrap: wrap;
}
/* Responsive styles */
@media screen and (max-width: 768px) {
  .containerLogin-photo {
    flex-direction: column-reverse;
    height: auto;
  }
  .containerLogin {
    width: 100vw;
  }
  .containerPhoto {
    width: 100vw;
    height: 30vh;
    display: flex;
    justify-content: center;
  }
}